<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>
    <meta
      name="google-site-verification"
      content="E2OcQ9FmsF2wFGltU9UBb575vkdJPgcl0mR4L6VrzOE"
    />
    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link rel="icon" type="image/png" sizes="128x128" href="favicon.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="favicon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon.png" />
    
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
